@{
    ViewData["Title"] = "Accueil";
}

<div class="jumbotron">
    <h1>Unihockey Club Yverdon</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Bienvenu</h2>
        <p>
            Ce site gère à gérér les amdendes infligées aux joueurs de la 1ère équipe masculine du Unihockey Club Yverdon
        </p>
    </div>
</div>